user www-data;
worker_processes auto;
pid /run/nginx.pid;

events {
    worker_connections 768;
}

http {
    server {
        listen 80;
        server_name {{ nginx_server_name }};
        
        location / {
            root {{ nginx_document_root }};
            index index.html;
        }
    }
}